<h1>About Page</h1>
<%= link_to 'Home', root_path %>

<p>Dui venenatis, dui id blandit sit cras erat taciti, suspendisse aliquet voluptatem vitae, in amet. </p>
<p>Nulla morbi faucibus nascetur scelerisque nulla eu, faucibus vehicula at aenean consectetuer.</p>
<p>Integer iaculis wisi eu aliquet. </p>