<div class="center jumbotron">
  <h1>ALPHA BLOG</h1>
  <p><a class="btn btn-primary btn-lg btn-xlarge" href="#" role="button">Sign up now</a></p>
</div>


<%# Displays an image with a link: <%= link_to image_tag('profileimage.png'), 'www.frasersp.com' %>
<%#= image_tag 'mamas.png' %>

