<h1>Alpha Blog</h1>
<%= link_to "Alpha Blog", articles_path %> | <%= link_to 'About', about_path %> 
<h2>Welcome to Alpha Blog</h2>
<%# Displays an image with a link: <%= link_to image_tag('profileimage.png'), 'www.mashrurhossain.com' %>
<%= image_tag 'mamas.png' %>

<p>Hi all. You are invite to add and read blogs on this site. Please be friendly and have fun.</p>
<p>Here are a few topics to wet your appitite: </p>
<ul>
     <li>your best experience</li>
     <li>your most scariest encounter</li>
     <li>your favourite movie of all time</li>
     <li>your unaccomplished desire</li>
    
</ul>
<p>My favoutite colour is simply Ruby! </p>
<p>Sing 'Hail Ruby' and don't go off the Rails :)</p>
