<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="#">Ruby on Rails Developer - Fraser-English 2016</a>                              
    </small>  
    <nav>
     <ul>
       <li><%= link_to "About", about_path %></li>                              
     </ul>                               
    </nav>
  </footer>
                                
</div>